.navbar {
    background-color: #22262e;
}

.logoHeader {
    font-size: 30px;
}

.navButton {
    border: 1px solid #303030e6;
    border-radius: 10px;
    background-color: #303030e6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.logoHeader .firstHeader {
    color: turquoise;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #303030e6;
    background-color: #303030e6;
    border-radius: 10px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding-left: 5px;
    padding-right: 5px;
}

.logoHeader .secondHeader {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 10px;
    background-color: rgb(91, 91, 91);
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.socialIcons {
    font-size: 25px;
    margin-left: 1040px;
    margin-top: 10px;
    color: white;
    display: inline-block;
}

.socialIcons:hover {
    color: turquoise;
    transform: translateY(-2px);
}